/* CSS Reset */
body,html{
  /*line-height: 100%;*/
  font-weight: normal;
  -webkit-overflow-scrolling: touch;/*解决苹果手机滑动不流畅的问题*/
  font-family: PingFangSC-Semibold,SimSun,Microsoft YaHei,KaiTi;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0;
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
/* remember to define focus styles! */
:focus, :active {
  outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}
abbr, acronym {
  border: 0;
  font-variant: inherit;
}
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}
code, kbd, samp, tt {
  font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
  *font-size: 100%;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
}
sup, sub {
  font-size: 100%;
  vertical-align: baseline;
}
/* remember to highlight inserts somehow! */
:link, :visited, ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clear {
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
/*解决vue闪烁问题*/
[v-cloak] {
  display: none;
}
